In [1]:
import pandas as pd
import numpy as np
import matplotlib

In [3]:
movies = pd.read_csv(r"C:\Users\megha\Downloads\Movie Recommendation System\tmdb_5000_movies.csv")
credits = pd.read_csv(r"C:\Users\megha\Downloads\Movie Recommendation System\tmdb_5000_credits.csv")

df = pd.merge(movies, credits, left_on="id", right_on="movie_id")

In [5]:
df.head(4)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title_x,vote_average,vote_count,movie_id,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."

In [7]:
print (df.shape)

(4803, 24)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title_x               4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  movie_id              4803 non-null   int64
 21  title_y               4803 non-null   object
 22  cast                  4803 non-null   object
 23  crew                  4803 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 900.7+ KB

In [11]:
df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title_x', 'vote_average',
       'vote_count', 'movie_id', 'title_y', 'cast', 'crew'],
      dtype='object')

In [13]:
df.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title_x                    0
vote_average               0
vote_count                 0
movie_id                   0
title_y                    0
cast                       0
crew                       0
dtype: int64

In [15]:
# Drop rows with missing overview
df = df[df['overview'].notnull()]

# Rename title column for clarity (optional)
df = df.rename(columns={'title_x': 'title'})

# If needed, drop 'title_y' (duplicate)
df.drop('title_y', axis=1, inplace=True)

### 🚧 Step 3: Combine Key Features into a Single Text Column
We'll extract and clean:

overview → movie description

genres, keywords, cast, crew → we’ll parse JSON-like strings

From crew, we'll extract only the director

From cast, we’ll take the top 3 actors

In [18]:
import ast  # to parse stringified lists/dictionaries

# Extract names from list of dicts (like genres, keywords, cast)
def extract_names(obj):
    return [d['name'] for d in ast.literal_eval(obj)]

# Get top 3 cast members
def get_top_cast(obj):
    return [d['name'] for d in ast.literal_eval(obj)[:3]]

# Get director's name
def get_director(obj):
    for d in ast.literal_eval(obj):
        if d['job'] == 'Director':
            return [d['name']]
    return []

# Applying these to dataframe
df['genres'] = df['genres'].apply(extract_names)
df['keywords'] = df['keywords'].apply(extract_names)
df['cast'] = df['cast'].apply(get_top_cast)
df['crew'] = df['crew'].apply(get_director)

#Combine all selected features into  one "tags" column
# Convert overview from string to list of words
df['overview'] = df['overview'].apply(lambda x: x.split())

# Merge all lists
df['tags'] = df['overview'] + df['genres'] + df['keywords'] + df['cast'] + df['crew']
df['tags'] = df['tags'].apply(lambda x: " ".join(x))

#Final working columns
new_df = df[['movie_id', 'title', 'tags']]
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

##### ✅ Tags column is ready — it now combines all the important content-based features (overview, genres, keywords, cast, director) into one rich textual representation for each movie. This is a great foundation for building a Content-Based Recommendation System.

### 🚀 Step 4: Text Vectorization using CountVectorizer

We’ll now convert the tags into vectors using Bag of Words with CountVectorizer, then use cosine similarity to compute how similar any two movies are.

In [23]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Limit to top 5000 features and remove stopwords
cv = CountVectorizer(max_features=5000, stop_words='english')
vectors = cv.fit_transform(new_df['tags']).toarray()

# Check shape of resulting vectors
print(vectors.shape)

# Compute cosine similarity
similarity = cosine_similarity(vectors)

(4800, 5000)

### ✅ Step 5: Define the Recommendation Function

In [26]:
def recommend(movie):
    movie = movie.lower()
    if movie not in new_df['title'].str.lower().values:
        print("Movie not found in dataset.")
        return
    
    # Get index of the movie
    idx = new_df[new_df['title'].str.lower() == movie].index[0]
    
    # Get similarity scores for this movie
    distances = list(enumerate(similarity[idx]))
    
    # Sort by similarity (excluding the movie itself)
    movies_sorted = sorted(distances, key=lambda x: x[1], reverse=True)[1:6]
    
    print(f"Top 5 recommendations for '{new_df.iloc[idx].title}':")
    for i in movies_sorted:
        print(new_df.iloc[i[0]].title)

#### ✅ Test the Recommender:

In [29]:
recommend("Avatar")

Top 5 recommendations for 'Avatar':
Aliens
Moonraker
Alien
Alien³
Silent Running

### Apply Stemming
We’ll normalize the tags by stemming words like "loved", "loving", and "love" to a common root.

In [32]:
from nltk.stem.porter import PorterStemmer
import warnings
warnings.filterwarnings("ignore")
ps = PorterStemmer()

def stem(text):
    return " ".join([ps.stem(word) for word in text.split()])

new_df['tags'] = new_df['tags'].apply(stem)

### Use TF-IDF Instead of CountVectorizer
TF-IDF (Term Frequency-Inverse Document Frequency) gives more weight to important and unique terms.

In [35]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(max_features=5000, stop_words='english')
vectors = tfidf.fit_transform(new_df['tags']).toarray()

#### Compute cosine similarity as before:

In [38]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

In [40]:
def recommend(movie):
    movie = movie.lower()
    if movie not in movies['title'].str.lower().values:
        return ["Movie not found. Please check the title."]
    
    index = movies[movies['title'].str.lower() == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])
    
    recommended_movies = []
    for i in distances[1:6]:
        recommended_movies.append(movies.iloc[i[0]].title)
    return recommended_movies

### Build a Web App

In [51]:
import gradio as gr

interface = gr.Interface(fn=recommend,
                         inputs="text",
                         outputs="text")

interface.launch(share=True)

* Running on local URL:  http://127.0.0.1:7862
* Running on public URL: https://518303072dca89d6b0.gradio.live

This share link expires in 72 hours. For free permanent hosting and GPU upgrades, run `gradio deploy` from the terminal in the working directory to deploy to Hugging Face Spaces (https://huggingface.co/spaces)

### Save the Model for Deployment

In [177]:
import pickle

pickle.dump(new_df, open('movies.pkl', 'wb'))
pickle.dump(similarity, open('similarity.pkl', 'wb'))

#### You can later load them with:

In [180]:
movies = pickle.load(open('movies.pkl', 'rb'))
similarity = pickle.load(open('similarity.pkl', 'rb'))